[Unit]
Description={{ ipfs_systemd_unit_name }} Service
After=network.target
Requires=network.target

[Service]
Environment=IPFS_PATH={{ ipfs_config_path }}
ExecStart={{ ipfs_bin_path }} daemon

Restart=on-failure
RestartSec=30
User={{ ipfs_user }}
Group={{ ipfs_group}}

[Install]
WantedBy=multi-user.target
